<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
PlacemarkCategories.plist
MonkiMapModel

Created by Rémi Bardon on 05/06/2020.
Copyright (c) 2020 Monki Projects. All rights reserved.
-->
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<string>spot</string>
			<key>title</key>
			<string>Spot</string>
		</dict>
		<dict>
			<key>id</key>
			<string>facility</string>
			<key>title</key>
			<string>Salle</string>
		</dict>
		<dict>
			<key>id</key>
			<string>misc</string>
			<key>title</key>
			<string>Divers</string>
		</dict>
	</array>
</plist>
