<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
PlacemarkKinds.plist
MonkiMapModel

Created by Rémi Bardon on 05/06/2020.
Copyright (c) 2020 Monki Projects. All rights reserved.
-->
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<string>training_spot</string>
			<key>title</key>
			<string>Lieu d'entraînement</string>
			<key>category</key>
			<string>spot</string>
			<key>features</key>
			<array>
				<string>small_wall</string>
				<string>medium_wall</string>
				<string>big_wall</string>
				<string>railing</string>
				<string>stairs</string>
				<string>bar</string>
				<string>ladder</string>
				<string>grass</string>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>precision_jump</string>
				<string>kong</string>
				<string>double_kong</string>
				<string>triple_kong</string>
				<string>cat_leap</string>
				<string>180_cat_leap</string>
				<string>small_drop</string>
				<string>medium_drop</string>
				<string>high_drop</string>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array>
				<string>drinking_fountain</string>
				<string>covered_area</string>
				<string>well_known</string>
			</array>
			<key>hazards</key>
			<array>
				<string>security</string>
				<string>security_cam</string>
				<string>slippery_surface</string>
				<string>high_drop</string>
				<string>uneasy_access</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>outdoor_parkour_park</string>
			<key>title</key>
			<string>Parkour park en extérieur</string>
			<key>category</key>
			<string>spot</string>
			<key>features</key>
			<array>
				<string>medium_wall</string>
				<string>big_wall</string>
				<string>railing</string>
				<string>stairs</string>
				<string>bar</string>
				<string>ladder</string>
				<string>grass</string>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>kong</string>
				<string>double_kong</string>
				<string>triple_kong</string>
				<string>cat_leap</string>
				<string>180_cat_leap</string>
				<string>small_drop</string>
				<string>medium_drop</string>
				<string>high_drop</string>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array>
				<string>covered_area</string>
				<string>well_known</string>
			</array>
			<key>hazards</key>
			<array>
				<string>security_cam</string>
				<string>slippery_surface</string>
				<string>high_drop</string>
				<string>uneasy_access</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>calisthenics_park</string>
			<key>title</key>
			<string>Parc de street workout</string>
			<key>category</key>
			<string>spot</string>
			<key>features</key>
			<array>
				<string>big_wall</string>
				<string>railing</string>
				<string>stairs</string>
				<string>bar</string>
				<string>ladder</string>
				<string>grass</string>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>double_kong</string>
				<string>triple_kong</string>
				<string>cat_leap</string>
				<string>180_cat_leap</string>
				<string>small_drop</string>
				<string>medium_drop</string>
				<string>high_drop</string>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array>
				<string>well_known</string>
			</array>
			<key>hazards</key>
			<array>
				<string>slippery_surface</string>
				<string>high_drop</string>
				<string>uneasy_access</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>descent</string>
			<key>title</key>
			<string>Descente</string>
			<key>category</key>
			<string>spot</string>
			<key>features</key>
			<array>
				<string>railing</string>
				<string>stairs</string>
				<string>bar</string>
				<string>ladder</string>
				<string>grass</string>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>triple_kong</string>
				<string>cat_leap</string>
				<string>180_cat_leap</string>
				<string>small_drop</string>
				<string>medium_drop</string>
				<string>high_drop</string>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array>
				<string>well_known</string>
			</array>
			<key>hazards</key>
			<array>
				<string>high_drop</string>
				<string>uneasy_access</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>urban_climbing_spot</string>
			<key>title</key>
			<string>Spot de grimpe urbaine</string>
			<key>category</key>
			<string>spot</string>
			<key>features</key>
			<array>
				<string>stairs</string>
				<string>bar</string>
				<string>ladder</string>
				<string>grass</string>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>cat_leap</string>
				<string>180_cat_leap</string>
				<string>small_drop</string>
				<string>medium_drop</string>
				<string>high_drop</string>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array>
				<string>well_known</string>
			</array>
			<key>hazards</key>
			<array>
				<string>uneasy_access</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>playground</string>
			<key>title</key>
			<string>Aire de jeu</string>
			<key>category</key>
			<string>spot</string>
			<key>features</key>
			<array>
				<string>bar</string>
				<string>ladder</string>
				<string>grass</string>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>180_cat_leap</string>
				<string>small_drop</string>
				<string>medium_drop</string>
				<string>high_drop</string>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array>
				<string>well_known</string>
			</array>
			<key>hazards</key>
			<array/>
		</dict>
		<dict>
			<key>id</key>
			<string>indoor_parkour_park</string>
			<key>title</key>
			<string>Parkour park en intérieur</string>
			<key>category</key>
			<string>facility</string>
			<key>features</key>
			<array>
				<string>ladder</string>
				<string>grass</string>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>small_drop</string>
				<string>medium_drop</string>
				<string>high_drop</string>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array/>
			<key>hazards</key>
			<array/>
		</dict>
		<dict>
			<key>id</key>
			<string>bouldering_facility</string>
			<key>title</key>
			<string>Salle d'escalade</string>
			<key>category</key>
			<string>facility</string>
			<key>features</key>
			<array>
				<string>ladder</string>
				<string>grass</string>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>medium_drop</string>
				<string>high_drop</string>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array/>
			<key>hazards</key>
			<array/>
		</dict>
		<dict>
			<key>id</key>
			<string>aom_academy</string>
			<key>title</key>
			<string>Académie d'Art Du Déplacement</string>
			<key>category</key>
			<string>facility</string>
			<key>features</key>
			<array>
				<string>grass</string>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>high_drop</string>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array/>
			<key>hazards</key>
			<array/>
		</dict>
		<dict>
			<key>id</key>
			<string>tricking_school</string>
			<key>title</key>
			<string>École de tricking</string>
			<key>category</key>
			<string>facility</string>
			<key>features</key>
			<array>
				<string>sand</string>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array>
				<string>flips</string>
			</array>
			<key>benefits</key>
			<array/>
			<key>hazards</key>
			<array/>
		</dict>
		<dict>
			<key>id</key>
			<string>trampoline_park</string>
			<key>title</key>
			<string>Trampoline Park</string>
			<key>category</key>
			<string>facility</string>
			<key>features</key>
			<array>
				<string>water</string>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array/>
			<key>benefits</key>
			<array/>
			<key>hazards</key>
			<array/>
		</dict>
		<dict>
			<key>id</key>
			<string>gymnastics_gym</string>
			<key>title</key>
			<string>Salle de gymnastique</string>
			<key>category</key>
			<string>facility</string>
			<key>features</key>
			<array>
				<string>tree</string>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array/>
			<key>benefits</key>
			<array/>
			<key>hazards</key>
			<array/>
		</dict>
		<dict>
			<key>id</key>
			<string>drinking_fountain</string>
			<key>title</key>
			<string>Fontaine à eau potable</string>
			<key>category</key>
			<string>misc</string>
			<key>features</key>
			<array>
				<string>tree_trunk</string>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array/>
			<key>benefits</key>
			<array/>
			<key>hazards</key>
			<array/>
		</dict>
		<dict>
			<key>id</key>
			<string>bike_rental</string>
			<key>title</key>
			<string>Location de vélos</string>
			<key>category</key>
			<string>misc</string>
			<key>features</key>
			<array>
				<string>small_rocks</string>
				<string>medium_rocks</string>
				<string>big_rocks</string>
				<string>trampoline</string>
				<string>bench</string>
			</array>
			<key>goodForTraining</key>
			<array/>
			<key>benefits</key>
			<array/>
			<key>hazards</key>
			<array/>
		</dict>
	</array>
</plist>
