<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>small_wall</string>
		<key>title</key>
		<string>Small Wall</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>medium_wall</string>
		<key>title</key>
		<string>Medium Wall</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>big_wall</string>
		<key>title</key>
		<string>Big Wall</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>railing</string>
		<key>title</key>
		<string>Railing</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>stairs</string>
		<key>title</key>
		<string>Stairs</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>bar</string>
		<key>title</key>
		<string>Bar</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>parallel_bars</string>
		<key>title</key>
		<string>Parallel Bars</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ladder</string>
		<key>title</key>
		<string>Ladder</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>grass</string>
		<key>title</key>
		<string>Grass</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>sand</string>
		<key>title</key>
		<string>Sand</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>water</string>
		<key>title</key>
		<string>Water</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tree</string>
		<key>title</key>
		<string>Tree</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tree_trunk</string>
		<key>title</key>
		<string>Tree Trunk</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>small_rocks</string>
		<key>title</key>
		<string>Small Rocks</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>medium_rocks</string>
		<key>title</key>
		<string>Medium Rocks</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>big_rocks</string>
		<key>title</key>
		<string>Big Rocks</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>trampoline</string>
		<key>title</key>
		<string>Trampoline</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>foam_pit</string>
		<key>title</key>
		<string>Foam Pit</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>airbag</string>
		<key>title</key>
		<string>Airbag</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ninja_warrior_area</string>
		<key>title</key>
		<string>Ninja Warrior Area</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ninja_warrior_wall</string>
		<key>title</key>
		<string>Ninja Warrior Wall</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>chase_tag_setup</string>
		<key>title</key>
		<string>Chase Tag Setup</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1_floor</string>
		<key>title</key>
		<string>1 Floor</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2_floors</string>
		<key>title</key>
		<string>2 Floors</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3_floors</string>
		<key>title</key>
		<string>3 Floors</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4_floors</string>
		<key>title</key>
		<string>4 Floors</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5_floors</string>
		<key>title</key>
		<string>5 Floors</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6_floors</string>
		<key>title</key>
		<string>6 Floors</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7_floors</string>
		<key>title</key>
		<string>7 Floors</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7+_floors</string>
		<key>title</key>
		<string>7+ Floors</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>bench</string>
		<key>title</key>
		<string>Bench</string>
		<key>kind</key>
		<string>feature</string>
	</dict>
	<dict>
		<key>id</key>
		<string>precision_jump</string>
		<key>title</key>
		<string>Precision jump</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>kong</string>
		<key>title</key>
		<string>Kong</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>double_kong</string>
		<key>title</key>
		<string>Double kong</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>triple_kong</string>
		<key>title</key>
		<string>Triple kong</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cat_leap</string>
		<key>title</key>
		<string>Cat leap</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>180_cat_leap</string>
		<key>title</key>
		<string>180° cat leap</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>small_drop</string>
		<key>title</key>
		<string>Small drop</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>medium_drop</string>
		<key>title</key>
		<string>Medium drop</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>high_drop</string>
		<key>title</key>
		<string>High drop</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>flips</string>
		<key>title</key>
		<string>Flips</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ninja_warrior</string>
		<key>title</key>
		<string>Ninja Warrior</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>chase_tag</string>
		<key>title</key>
		<string>Chase Tag</string>
		<key>kind</key>
		<string>technique</string>
	</dict>
	<dict>
		<key>id</key>
		<string>drinking_fountain</string>
		<key>title</key>
		<string>Drinking fountain</string>
		<key>kind</key>
		<string>benefit</string>
	</dict>
	<dict>
		<key>id</key>
		<string>covered_area</string>
		<key>title</key>
		<string>Covered area</string>
		<key>kind</key>
		<string>benefit</string>
	</dict>
	<dict>
		<key>id</key>
		<string>hooks</string>
		<key>title</key>
		<string>Hooks</string>
		<key>kind</key>
		<string>benefit</string>
	</dict>
	<dict>
		<key>id</key>
		<string>changing_room</string>
		<key>title</key>
		<string>Changing room</string>
		<key>kind</key>
		<string>benefit</string>
	</dict>
	<dict>
		<key>id</key>
		<string>coaching</string>
		<key>title</key>
		<string>Coaching</string>
		<key>kind</key>
		<string>benefit</string>
	</dict>
	<dict>
		<key>id</key>
		<string>well_known</string>
		<key>title</key>
		<string>Well known</string>
		<key>kind</key>
		<string>benefit</string>
	</dict>
	<dict>
		<key>id</key>
		<string>equipment_rental</string>
		<key>title</key>
		<string>Equipment rental</string>
		<key>kind</key>
		<string>benefit</string>
	</dict>
	<dict>
		<key>id</key>
		<string>shop</string>
		<key>title</key>
		<string>Shop</string>
		<key>kind</key>
		<string>benefit</string>
	</dict>
	<dict>
		<key>id</key>
		<string>security</string>
		<key>title</key>
		<string>Security</string>
		<key>kind</key>
		<string>hazard</string>
	</dict>
	<dict>
		<key>id</key>
		<string>security_cam</string>
		<key>title</key>
		<string>Security cam</string>
		<key>kind</key>
		<string>hazard</string>
	</dict>
	<dict>
		<key>id</key>
		<string>slippery_surface</string>
		<key>title</key>
		<string>Slippery surface</string>
		<key>kind</key>
		<string>hazard</string>
	</dict>
	<dict>
		<key>id</key>
		<string>high_drop</string>
		<key>title</key>
		<string>High drop</string>
		<key>kind</key>
		<string>hazard</string>
	</dict>
	<dict>
		<key>id</key>
		<string>uneasy_access</string>
		<key>title</key>
		<string>Uneasy access</string>
		<key>kind</key>
		<string>hazard</string>
	</dict>
	<dict>
		<key>id</key>
		<string>locked_door</string>
		<key>title</key>
		<string>Locked door</string>
		<key>kind</key>
		<string>hazard</string>
	</dict>
	<dict>
		<key>id</key>
		<string>alarm</string>
		<key>title</key>
		<string>Alarm</string>
		<key>kind</key>
		<string>hazard</string>
	</dict>
	<dict>
		<key>id</key>
		<string>death_drop</string>
		<key>title</key>
		<string>Death drop</string>
		<key>kind</key>
		<string>hazard</string>
	</dict>
</array>
</plist>
